@charset "UTF-8";

/**
*
* Recent Transactions CSS
*
*/
.tableBodyDiv {
    display: table-row-group;
}

.overviewHeading {
    color: #2e4369;
    letter-spacing: 0;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

.overviewEntryRow {
    cursor: pointer;
    border-top: 1px solid #f6f6f6;
}

.overviewHeadingTab {
    color: #829ca9;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
}

.expenseCategory {
    color: #fc695f;
}

.incomeCategory {
    color: #58c65c;
}

.w-15 {
    width: 15%;
}

.imageWrapperCell {
    border-top: 1px solid #f6f6f6;
    padding: 0.25rem;
}

.rtSpinner {
    position: absolute;
    left: 45%;
    top: 40%;
}

.creditCardPath,
.plusRawPath {
    line-height: normal;
    text-indent: 0;
    text-align: start;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-transform: none;
    block-progression: tb;
    isolation: auto;
    mix-blend-mode: normal
}

.overviewEntryRow:hover,
.highlightOverviewSelected {
    background-color: #fafafa;
}

.overviewEntryRow:hover .overviewHeading,
.highlightOverviewSelected .overviewHeading {
    color: #00bcd4;
}

.overviewEntryRow:hover .overviewChartDisplay,
.highlightOverviewSelected .overviewChartDisplay {
    color: #6a6a6a;
}

.overview-dashboard .form-check .form-check-input:checked + .form-check-sign .check {
    background: #00bcd4;
}

.overviewChartDisplay {
    color: #8e999e;
}

.transactions-empty-svg {
    fill: #D9D9D9;
    margin-top: 8rem;
}

.descriptionAverages {
    color: #5d7079;
    -webkit-transition: .2s;
    transition: .2s;
    line-height: 1.5
}

#colouredRoundedLineChart .ct-series.ct-series-a .ct-label {
    display: none;
    -webkit-transition: .2s;
    transition: .2s;
}

#colouredRoundedLineChart .ct-series.ct-series-a:hover .ct-label {
    display: flex;
    display: -webkit-flex;
    -webkit-transition: .2s;
    transition: .2s;
}

.noDataChartIcon {
    margin-top: 6.5rem;
    font-size: 5rem;
    color: #00bcd4;
}

.h-20 {
    height: 20rem;
}

.card.chartDisplayCard .card-body + .card-footer,
.card.chartDisplayCard .card-footer {
    justify-content: center;
}

/** Date time picker **/
.monthPickerMonthSelected {
    border-color: #00bcd4;
    background-color: #00bcd4;
    color: #fff;
}

.monthPickerMonth:hover,
.monthPickerNext:hover,
.monthPickerPrev:hover {
    border-color: #00bcd4;
    color: #00bcd4;
}

.monthPickerMonthSelected:hover {
    color: #fff;
}

.dropdown-menu .dropdown-item.chartOverviewExpense:hover,
.dropdown-menu .dropdown-item.chartBreakdownExpense:hover,
.dropdown-menu .dropdown-item.chartOverviewIncome:focus,
.dropdown-menu .dropdown-item.chartBreakdownIncome:focus,
.dropdown-menu a:not([href]):not([tabindex]).dropdown-item:hover,
.dropdown-menu a:not([href]):not([tabindex]).dropdown-item:focus {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    background-color: #00bcd4;
    color: #fff;
}

#chooseCategoryDD {
    cursor: pointer;
}

#colouredRoundedLineChart.ct-chart .ct-point {
    -webkit-transition: stroke-width 0.3s ease-in;
    transition: stroke-width 0.3s ease-in;
    stroke-width: 15px;
    cursor: pointer;
}

#colouredRoundedLineChart.ct-chart .ct-point:hover {
    stroke-width: 25px;
    transition: stroke-width 0.3s ease-out;
    -webkit-transition: stroke-width 0.3s ease-out;
}

#colouredRoundedLineChart.ct-chart .ct-slice-donut-solid {
    -webkit-transition: stroke-width 0.3s ease-in;
    transition: stroke-width 0.3s ease-in;
}

#colouredRoundedLineChart.ct-chart .ct-slice-donut-solid:hover {
    stroke: white;
    stroke-width: 2px;
    transition: stroke-width 0.3s ease-out;
    -webkit-transition: stroke-width 0.3s ease-out;
}

#colouredRoundedLineChart.ct-chart .ct-slice-donut,
#colouredRoundedLineChart.ct-chart .ct-series {
    -webkit-transition: stroke-width 0.3s ease-in;
    transition: stroke-width 0.3s ease-in;
}

#colouredRoundedLineChart.ct-chart .ct-slice-donut:hover {
    stroke-width: 2px;
    transition: stroke-width 0.3s ease-out;
    -webkit-transition: stroke-width 0.3s ease-out;
}

#colouredRoundedLineChart.ct-chart .ct-series:hover {
    opacity: 0.8;
}

#overviewChartMonth,
.dateMonthArrow,
.twoBThreeOneColor {
    color: #2b3133;
}

.dateMonthArrow {
    margin-left: .3rem;
    width: .8rem;
    height: .8rem;
}

#chartDisplayTitle {
    color: #999;
}

#overviewYearPicker {
    top: 3.5rem;
    left: 7.5rem;
}

.overviewNavigationYear {
    position: absolute;
    top: 5.3rem;
    right: -1.2rem;
    left: 1.2rem;
    min-width: 3rem;
    height: 14rem;
    min-height: 8rem;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border: 1px solid #d9dcdd;
    border-radius: 5px;
    background: #fff;
    z-index: 10;
}

.overviewNavigationYear:after {
    content: "";
    transform: rotate(45deg) translateZ(0);
    position: absolute;
    z-index: -1;
    left: 50%;
    box-shadow: -1px -1px 0 #d9dcdd;
    background: #fff;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.75rem;
    top: -.75rem;
}

#overviewChartMonth,
#dateMonthArrow {
    cursor: pointer;
}

.yearPickerWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    width: 100%;
    height: 14rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    line-height: 1.9rem;
}

.monthPickerDown,
.monthPickerUp {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    z-index: 9;
    font-size: 2rem;
    color: #6a6a6a;
    cursor: pointer;
    left: 45%;
}

.monthPickerDown {
    transform: translateY(240%);
}

.monthPickerUp {
    transform: translateY(-340%);
}

.yearPicker {
    transform: translateZ(0);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex: 1 auto;
    flex: 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5rem;
    color: #999;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.yearPickerDisplay:hover,
.monthPickerUp:hover,
.monthPickerDown:hover {
    font-weight: 700;
    color: #2b3133;
}

/** Account Picker **/
.selectedBA .bAIcon path,
.bARow:hover .bAIcon path,
.tableHeadingDiv svg,
.tickPath1,
.account-info-color,
.knowMoreAccount:hover,
.bAAllRow:hover .bAAllIcon path {
    fill: #00bcd4;
    color: #009cc2;
}

.account-box {
    background: rgba(0, 156, 194, .1);
}

.account-box:hover {
    background: #009cc2;
    color: #fff;
    fill: #fff;
}

.xWithRed {
    fill: #e45c5c;
}

.btn.btn-dynamic-color {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}


.btn.btn-dynamic-color:focus,
.btn.btn-dynamic-color.focus,
.btn.btn-dynamic-color:hover {
    color: #fff;
    background-color: #00aec5;
    border-color: #008697;
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.btn-dynamic-color:hover,
.show > .btn.btn-dynamic-color.dropdown-toggle:hover,
.show > .btn.btn-dynamic-color.dropdown-toggle:focus {
    color: #fff;
    background-color: #009aae;
    border-color: #008fa1;
}

.btn-dynamic-color {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: none;
}

a.manageBA.text-dynamic-color {
    color: #00bcd4;
}

a.manageBA.text-dynamic-color:hover,
a.manageBA.text-dynamic-color:focus {
    color: #008fa1;
    font-weight: 700;
}

#loginModal .form-control,
#loginModal .is-focused .form-control {
    background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.vcClassLP.swal2-file:focus,
.vcClassLP.swal2-input:focus,
.vcClassLP.swal2-textarea:focus {
    border: 1px solid #008697;
    outline: 0;
    box-shadow: 0 0 3px rgba(0, 188, 212, 0.42);
}

.overview-dashboard .dropdown-menu .accountType:hover {
    background: #009cc2;
    color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(150, 203, 222);
}

.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: center;
    text-align: middle;
    transform-origin: 100% 0;
    white-space: nowrap;
}

.ct-chart .ct-bar {
    fill: none;
    stroke-width: 2.5rem;
}

.ct-chart-line .ct-labels .ct-label.ct-horizontal {
    white-space: nowrap;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    transform-origin: 15px 7px !important;
    height: 18px !important;
    width: 50px !important;
}

.btn.chart-option {
    color: #fff;
    background: #d5dde3;
    border: 1px solid #d5dde3;
    border-top-color: rgb(213, 221, 227);
    border-right-color: rgb(213, 221, 227);
    border-bottom-color: rgb(213, 221, 227);
    border-left-color: rgb(213, 221, 227);
    display: inline-block;
    vertical-align: top;
    padding: 2px 10px;
    border: 1px solid #bcc4cc;
    background: #bcc4cc;
    font-size: 0.7rem;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -webkit-transition: color .15s ease-out, background .15s ease-out, border-color .15s ease-out;
    transition: color .15s ease-out, background .15s ease-out, border-color .15s ease-out;
    white-space: nowrap;
}

.chart-option.income.active.btn-secondary,
.chart-option.income.btn.btn-secondary:hover {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}

.chart-option.expense.active.btn-secondary,
.chart-option.expense.btn.btn-secondary:hover {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
}

.chart-option.assets.active.btn-secondary,
.chart-option.assets.btn.btn-secondary:hover {
    color: #ffffff;
    background-color: #409444;
    border-color: #3d8b40;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}

.chart-option.debt.active.btn-secondary,
.chart-option.debt.btn.btn-secondary:hover {
    color: #fff;
    background-color: #f44336;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.chart-option.networth.active.btn-secondary,
.chart-option.networth.btn.btn-secondary:hover {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.recentTransactionEntry {
    font-size: 1rem;
}

.recentTransactionDescription {
    color: #6b6e75;
}

/** Change the size of the text if the width and height of the screen are less **/
@media (min-width:1301px) {}

/** Change the size of the text if the width and height of the screen are less **/
@media (max-width:1300px) {

    .descriptionAverages {
        font-size: 0.7rem;
    }

    .overviewChartDisplay {
        padding: 0;
        font-size: 1.2rem;
    }

    .overviewEntryRow .icon-center,
    .overviewEntryRow .namdAndDescription {
        padding: 0;
    }

    .overviewHeading {
        font-size: 0.9rem;
    }

    .overviewHeadingWrapper {
        padding-bottom: 0;
        padding-top: 0.25rem;
    }

    .h-20 {
        height: 20rem;
    }

}


/** Change the size of the text if the width and height of the screen are less **/
@media (max-width:697px) {
    .ct-chart .ct-bar {
        fill: none;
        stroke-width: 1.8rem;
    }
}

/** Change the size of the text if the width and height of the screen are less **/
@media (max-width:400px) {
    .ct-chart .ct-bar {
        fill: none;
        stroke-width: 1rem;
    }
}
