<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title data-i18n="wallet.page.title">Alexa | BlitzBudget</title>
    <meta name="author" content="BLITZBUDGET a.s. app.blitzbudget.com">
    <meta name="copyright" content="Copyright 2020 BLITZBUDGET a.s. | All Rights Reserved">
    <meta name="description" content="Control all your money in one place with ease using Blitzbudget. track your transactions, create a financial plan and execute your dreams. Get BlitzBudget now!">
    <meta name="keywords" content="Personal Finance, Money Management, Money Tracker, Budget Planner, Budgeting Tool, Saving Money, Money App, Finance App, Budget App, Financial Planning">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://app.blitzbudget.com/alexa/voice-code">
    <meta property="og:title" content="Suggested Features">
    <meta property="og:description" content="Control all your money in one place with ease using Blitzbudget. track your transactions, create a financial plan and execute your dreams. Get BlitzBudget now!">
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="https://app.blitzbudget.com/img/business-name/favicon-business-name.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Didact+Gothic:300,400,500,700|Material+Icons" />

    <!-- CSS Files -->
    <link rel="stylesheet preload" href="/css/alexa.min.css" />
    <!--   Core JS Files   -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script defer nonce="2726d7e2654esd" src="/js/alexa.min.js" type="text/javascript"></script>
</head>

<body class="alexa-login-page">
    <div class="voice-code-container">
        <div class="voice-code-entry">
            <div class="voice-code-box">
                <div class="blitzbudget-logo"></div>
                <div class="voice-code-div">
                    <div class="voice-code-head">
                        <b>Voice code</b>
                        <div class="voice-code-service-name">to access <span>Alexa</span></div>
                        <div id="voice-code-box" class="voice-code-input my-4">
                            <input id="voice-code" class="textbox" placeholder="Four Digit Number" autocapitalize="off" autocomplete="on" autocorrect="off" tabindex="1" type="password" maxlength="4" pattern="\d{4}" required>
                            <div id="errorFourDigit" class="fielderror errorlabel d-none">Please enter a valid four digit number</div>
                        </div>
                        <div id="email-box" class="voice-code-input my-4 d-none">
                            <input id="email" class="textbox" placeholder="Email Address" autocapitalize="off" autocomplete="on" autocorrect="off" tabindex="1" type="email" required>
                            <div id="error-email" class="fielderror errorlabel d-none">Please enter a valid email address</div>
                        </div>
                        <div id="password-box" class="voice-code-input my-4 d-none">
                            <div class="email-user">
                                <div id="email-address-display" class="username"></div>
                                <span id="change-email" class="not-you text-info">Change</span>
                            </div>
                            <input id="password" class="textbox" placeholder="Enter Password" autocapitalize="off" autocomplete="on" autocorrect="off" tabindex="1" type="password" required>
                            <span class="material-icons show_hide_password" id="show_hide_password">visibility_off</span>
                            <div id="error-password-length" class="fielderror errorlabel d-none">Please enter a valid password with atleast 8 characters long</div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info mx-auto mb-4 w-100" tabindex="2" id="nextButton" disabled>Next</button>
                            <button class="btn btn-info mx-auto mb-4 w-100 d-none" tabindex="2" id="continueButton" disabled>Continue</button>
                            <button class="btn btn-info mx-auto mb-4 w-100 d-none" tabindex="2" id="saveButton" disabled>Save</button>
                            <div class="material-spinner mx-auto mb-4 d-none" id="material-spinner-loading"></div>
                        </div>
                        <div class="forgot-password">
                            <a id="opt-out-voice-code" class="forgot-password" href="#">Opt out of voice code</a>
                            <a href="javascript:void(0);" class="forgot-password d-none" id="change-voice-code">Change my voice code</a>
                            <a href="#" class="forgot-password d-none" id="forgot-password">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="security-information">
            <div class="secure-image"></div>
            <div class="security-information-heading">
                Keep your account secure
            </div>
            <div class="security_text">
                We highly recommend that you set a four digit voice code that is different from your ATM PIN.
            </div>
        </div>
    </div>
    <div id="opt-out">Don't have a BlitzBudget account? <a href="https://auth.blitzbudget.com/signup?client_id=18he7k81dv7k6fccf7giiuo84r&scope=openid+profile+aws.cognito.signin.user.admin&response_type=code&redirect_uri=https://pitangui.amazon.com/api/skill/link/M2B1LF7JV90J35" class="text-info"><u>Sign Up Now</u></a></div>
</body>

</html>
