<div id="root" class="noselect">
 	<section class="Hero">
 		<div class="productHero">
            <div id="helpSearch">
                <div class="row text-center">
                	<div class="col-12">
                		<h5 class="text-center my-5">
                			<strong class="heading-search" data-i18n="support.popup.header">How Can We Help?</strong>
                		</h5>
                        <!-- Drop down dynamic load -->
                        <div class="input-group">
                            <input id="searchArticle" class="form-control" type="text" data-placeholder-i18n="placeholder.searcharticle" placeholder="Search for articles...">
                        </div>
                    </div>
                </div>
            </div>
	 	</div>
	 	<div id="searchArticleDD" class="mx-auto">
		</div>
 	</section>
 	<section class="CategoryResult d-none">
 		<div class="categoryResult row">
	 		<div class="col-12">
	 			<div id="breadcrumb">
	 			</div>
	 			<div class="card articleContainer">
	 				<div class="card-header">
	 				</div>
	 				<div class="card-body">
	 					<h3 id="article-title"></h3>
	 					<p id="article-description"></p>
	 					<div id="article-body"></div>
	 				</div>
	 				<div class="card-footer">
	 					 
	 				</div>
	 			</div>
	 		</div>
 		</div>
 	</section>
</div>