<div id="root" class="noselect">
 	<section class="Hero">
 		<div class="productHero">
            <div id="helpSearch">
                <div class="row text-center">
                	<div class="col-12 text-animation fadeInRight">
                		<h1 class="text-center my-5">
                			<strong class="heading-search">How Can We Help?</strong>
                		</h1>
                        <!-- Drop down dynamic load -->
                        <div class="input-group">
                            <input id="searchArticle" class="form-control w-lg-75" type="text" placeholder="Search for articles...">
                            <div class="searchIconAndResult">
	                            <div class="search-icons">
							        <button type="submit" class="search-submit"></button>
							        <div id="search-clear" class="search-clear-text-icon">
							            <svg class="interface-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
							              <path d="M8.018 6.643L5.375 4 4 5.375l2.643 2.643L4 10.643 5.375 12l2.643-2.625L10.625 12 12 10.643 9.357 8.018 12 5.375 10.643 4z"></path>
							            </svg>
							        </div>
						        </div>
							</div>
							<div id="searchArticleDD" class="mx-auto w-lg-75 text-animation">
							</div>
                        </div>
                    </div>
                </div>
            </div>
	 	</div>
 	</section>
 	<section class="CategoryResult d-none">
 		<div class="categoryResult row">
 			<div class="col-3 d-none d-lg-block d-md-block">
	 			<div id="category-nav" class="sticky-category">
	 				<h3 class="mt-2 mb-3">Categories</h3>
	 			</div>
	 		</div>
	 		<div class="col-12 col-md-9 col-lg-9">
	 			<div id="breadcrumb">
	 			</div>
	 			<div class="card articleContainer">
	 				<div class="card-header">
	 				</div>
	 				<div class="card-body">
	 					<h3 id="article-title"></h3>
	 					<p id="article-description"></p>
	 					<div id="article-body"></div>
	 				</div>
	 			</div>
	 		</div>
 		</div>
 	</section>
</div>