/**
*   Drag & Drop
**/
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.positionOfDrag .d-lg-table-cell {
	border-bottom: 1px solid #58c65c;
	border-radius: 0.025rem;
}