/**
*	Transactions Modal
**/
#transactionHeaderClose > i {
    color: #999;
}

#transactionInformationMdl {
    padding: .5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}

#transactionLabelInModal {
    display: block;
    margin-bottom: .8rem;
    line-height: 1;
    color: #495257;
    font-weight: 600;
    text-align: left;
}

#transactionInformationMdl .card-footer .text-left {
    color: #999;
    white-space: nowrap;
}

.deleteIconTransactionsWrapper {
    color: #999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
    -webkit-transition: opacity 600ms, visibility 600ms;
}

.deleteIconTransactionsWrapper:hover {
    color: #f44336;
}

#categoryAmountEntry {
    font-size: 1.2rem;
    padding-top: .25rem;
    font-weight: 400;
    padding-bottom: .5rem;
    color: #686969;
    display: block;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    margin-right: -.8rem;
    width: calc(100%+1.6rem);
    resize: none;
    line-height: 1;
}

#transactionInformationMdl .material-icons:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#percentageAchieved {
    color: #333a3d;
    font-weight: 400;
    font-size: 1.1rem;
}

#remainingBalance {
    font-weight: 600;
}

#transactionInformationMdl:hover .deleteIconTransactionsWrapper {
    visibility: visible;
    opacity: 1;
}

#transactionAmountEntry,
#transactionDescriptionEntry,
#transactionTagsEntry {
    padding-top: .25rem;
    font-weight: 400;
    padding-bottom: .5rem;
    color: #686969;
    display: block;
    -webkit-transition: border-color .3s ease;
    -moz-transition: border-color .3s ease;
    -ms-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    margin-right: -.8rem;
    width: calc(100%+1.6rem);
    resize: none;
    line-height: 1;
    border: none;
}

#transactionAmountEntry:hover,
#transactionAmountEntry:focus,
#transactionAmountEntry:active,
#transactionDescriptionEntry:hover,
#transactionDescriptionEntry:focus,
#transactionDescriptionEntry:active,
#transactionTagsEntry:hover,
#transactionTagsEntry:focus,
#transactionTagsEntry:active {
    background: linear-gradient(#d5d9db, #d5d9db) 0 calc(100% - .025rem)/100% .050rem no-repeat, transparent;
}

.transactionAmountDiv .material-icons,
.transactionCategoryDiv .material-icons,
.transactionDescriptionDiv .material-icons,
.transactionTagsDiv .material-icons {
    color: #666e77;
    cursor: default;
}
