<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Goals
    </title>
    <link href="/css/goals.min.css" rel="stylesheet preload" as="style">
</head>

<body class="savings-dashboard">

    <div class="content">
        <div class="container-fluid">
        </div>
    </div>

    <!-- Vertically Centered Modal -->
    <div class="modal noselect" id="addGoals" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" aria-labelledby="addGoals">
        <div class="modal-dialog modal-signup" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <h5 class="modal-title card-title noselect" data-i18n="goals.choose.title">Choose a goal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons noselect">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <div class="card-body">
                                    <div id="choose-a-goal">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.creditcard.title">Pay off credit card</h5>
                                                        <p class="description" data-i18n="goals.choose.creditcard.description">We recommend that you start with the credit card with the highest interest rates.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/credit-card.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.emergency.title">Pay off loans</h5>
                                                        <p class="description" data-i18n="goals.choose.emergency.title">Housing loans, Car Loans, Education Loans, and others go in here.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/pay-off-loans.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.emergency.title">Save for an emergency</h5>
                                                        <p class="description" data-i18n="goals.choose.emergency.description">Why not have some money for an emergency? Be prepared now.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/emergency-fund.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.retirement.title">Save for retirement</h5>
                                                        <p class="description" data-i18n="goals.choose.retirement.description">It's time to start planning for your retirement, If you have't. We'll do the math, so you dont have to.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/retirement.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.home.title">Buy a home</h5>
                                                        <p class="description" data-i18n="goals.choose.home.description">A lot of thing's can go south when you make a mid term savings startegy. We can help you keep your plan feasible.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/buy-a-home.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.automobile.title">Buy an automobile</h5>
                                                        <p class="description" data-i18n="goals.choose.automobile.description">Why not save first enough before buying you car or motorbike? We'll help you track your savings.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/buy-a-car.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.college.title">Save for college</h5>
                                                        <p class="description" data-i18n="goals.choose.college.description">Graduating without a debt can be satisfying. Put your dreams to action, plan your goal.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/save-for-college.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.trip.title">Take a trip</h5>
                                                        <p class="description" data-i18n="goals.choose.trip.description">Have you saved enough for the next trip? Do you know how much you might need for it?</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/plan-a-trip.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.improve.title">Improve my home</h5>
                                                        <p class="description" data-i18n="goals.choose.improve.description">If refurbishing your home could be the right move, where will you get the money to do it?</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/improve-my-home.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 text-center p-2">
                                                <div class="row chooseable" data-target="save-for-emergency">
                                                    <div class="col-7">
                                                        <h5 class="goal-title" data-i18n="goals.choose.custom.title">Create a custom goal</h5>
                                                        <p class="description" data-i18n="goals.choose.custom.description">Everything else that requires financial planning goes in here.</p>
                                                    </div>
                                                    <div class="col-5 picture">
                                                        <img src="../img/dashboard/goals/custom-goals.jpg" class="rounded img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="save-for-emergency">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <h5 data-i18n="goals.add.emergencyfund.average" class="mb-3">Your average expenses per month</h5>
                                                <input id="average-expense-emergency" class="form-control" type="text" autocapitalize="off" spellcheck="false" autocorrect="off" class="float-left" />
                                                <!-- Slider Dynamic -->
                                                <h5 data-i18n="goals.add.emergencyfund.howmany" class="mt-3 mb-5"> How many months without income do you want to be prepared for?</h5>
                                                <div id="emergency-fund-months" class="slider slider-warning">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <h5 class="mb-3">Your planned date</h5>
                                                <input id="total-planned-emergency" class="form-control" type="text" autocapitalize="off" spellcheck="false" autocorrect="off" class="float-left" />
                                                <h5 class="my-3">Plan</h5>
                                                <p class="emergency-preference"> <span data-i18n="goals.add.emergencyfund.result">Based on your preferences, You are setting a goal of</span><strong id="emergency-fund-value">$2000</strong> <span data-i18n="goals.add.emergencyfund.result2">for an </span><strong data-i18n="goals.add.emergencyfund.result3">Emergency Fund</strong><span>.By saving</span> <strong>$200</strong><span> every month. You'll reach your planned goals by <strong>June 2020</strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-none mb-0 mt-4" id="choose-goal-footer">
                        <div class="ml-auto d-block">
                            <button id="back-goals" type="button" class="btn btn-next btn-fill btn-secondary btn-wd mr-2">Back</button>
                            <button id="save-goals" type="button" class="btn btn-next btn-fill btn-warning btn-wd mr-5">Save Goal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
