<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Goals
    </title>
    <link href="/css/goals.min.css" rel="stylesheet preload" as="style">
</head>

<body class="savings-dashboard">

    <div class="content">
        <div class="container-fluid">
        </div>
    </div>

    <!-- Vertically Centered Modal -->
    <div class="modal noselect" id="addGoals" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" aria-labelledby="addGoals">
        <div class="modal-dialog modal-signup" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <h5 class="modal-title card-title noselect" data-i18n="transactions.modal.title">Choose a goal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons noselect">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Pay off credit card</h5>
                                                    <p class="description">We recommend that you start with the credit card with the highest interest rates. </p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/credit-card.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Pay off loans</h5>
                                                    <p class="description">Housing loans, Car Loans, Education Loans, and others go in here.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/pay-off-loans.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Save for an emergency</h5>
                                                    <p class="description">Why not have some money for an emergency? Be prepared now. </p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/emergency-fund.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Save for retirement</h5>
                                                    <p class="description">It's time to start planning for your retirement, If you have't. We'll do the math, so you dont have to.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/retirement.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Buy a home</h5>
                                                    <p class="description">A lot of thing's can go south when you make a mid term savings startegy. We can help you keep your plan feasible.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/buy-a-home.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Buy an automobile</h5>
                                                    <p class="description">Why not save first enough before buying you car or motorbike? We'll help you track your savings.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/buy-a-car.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Save for college</h5>
                                                    <p class="description">Graduating without a debt can be satisfying. Put your dreams to action, plan your goal.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/save-for-college.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Take a trip</h5>
                                                    <p class="description">Have you saved enough for the next trip? Do you know how much you might need for it?</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/plan-a-trip.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Improve my home</h5>
                                                    <p class="description">If refurbishing your home could be the right move, where will you get the money to do it?</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/improve-my-home.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 text-center p-2">
                                            <div class="row chooseable">
                                                <div class="col-7">
                                                    <h5 class="goal-title">Create a custom goal</h5>
                                                    <p class="description">Everything else that requires financial planning goes in here.</p>
                                                </div>
                                                <div class="col-5 picture">
                                                    <img src="../img/dashboard/goals/custom-goals.jpg" class="rounded img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

</html>
