<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title data-i18n="overview.page.title">Overview</title>
    <link href="/css/overview.min.css" rel="stylesheet preload" as="style">
</head>

<body class="overview-dashboard noselect">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons noselect">store</i>
                            </div>
                            <p class="card-category" data-i18n="overview.page.assets">Assets</p>
                            <h3 id="assetAccumuluatedAmount" class="card-title">0.00<span class="currentCurrencySymbol"></span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons noselect">update</i> <span>Just Updated</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons noselect">credit_card</i>
                            </div>
                            <p class="card-category" data-i18n="overview.page.debt">Debt</p>
                            <h3 id="debtAccumulatedAmount" class="card-title">0.00<span class="currentCurrencySymbol"></span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons noselect">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons noselect">insights</i>
                            </div>
                            <p class="card-category" data-i18n="overview.page.networth">Networth</p>
                            <h3 id="networthAmount" class="card-title">0.00<span class="currentCurrencySymbol"></span></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons noselect">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 noselect">
                    <div class="card chartDisplayCard">
                        <div class="card-header card-header-icon card-header-info">
                            <div class="card-icon">
                                <i class="material-icons noselect">timeline</i>
                            </div>
                            <h5 id="chartDisplayTitle" class="card-title d-inline-block noselect" data-i18n="overview.page.chart.networth">Income Overview
                            </h5>
                            <!-- Drop Down Button -->
                            <div id="chosenChartIncAndExp" class="btn-group btnGroup-1 float-right d-none d-lg-block">
                                <button class="chosenChart btn btn-secondary" disabled data-i18n="overview.page.chart.option">One Year Overview</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div id='chooseCategoryDD' class="dropdown-menu">
                                    <!-- Drop down dynamic load -->
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="colouredRoundedLineChart" class="ct-chart">
                                <div class="material-spinner rtSpinner"></div>
                                <!-- Charts dynamic load -->
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center m-2" data-gramm_editor="false">
                                <button class="btn btn-secondary btn-lg chart-option income mr-2 my-3 active" data-i18n="overview.page.chart.options.income">Income</button>
                                <button class="btn btn-secondary btn-lg chart-option expense mr-2 my-3" data-i18n="overview.page.chart.options.expense">Expense</button>
                                <button class="btn btn-secondary btn-lg chart-option assets mr-2 my-3" data-i18n="overview.page.chart.options.assets">Assets</button>
                                <button class="btn btn-secondary btn-lg chart-option debt mr-2 my-3" data-i18n="overview.page.chart.options.debt">Debt</button>
                                <button class="btn btn-secondary btn-lg chart-option networth mr-2 my-3" data-i18n="overview.page.chart.options.networth">Networth</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
