<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
	    Profile
	 </title>
   <link href="/css/dashboard/module/profile.min.css" rel="stylesheet preload" as="style">
</head>

<body class="profile-dashboard" >
      <div class="content noselect">
        <div class="container-fluid">
        	<div class="row">
            <div class="col-8 ml-auto mr-auto">
              <div class="mb-4 noImageDisp d-none d-md-block">
                  <img src="../img/characters/beon/profile/beon-happy.svg">
              </div>
              <div id="profileImage" class="photo mb-5 d-none">
                  <img src="../img/dummy/avatarProfile.jpg">
              </div>
              <div class="profile-info row">
                <div class="pl-sm-0 pr-md-5 pr-sm-0 text-md-right text-center col-md-6 col-sm-12">
                    <h5 id="userNameProfileDisplay" class="mb-0 font-weight-bold">John Doe</h5>
                    <div id="userNameEditProf" class="btn-group d-none">
                        <input id="userNameModInp" type="text" autocapitalize="off" spellcheck="false" autocorrect="off" class="float-left">
                        <button id="userNameEdiBtn" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </div>
                    <a id="userNameEdit" class="editProfile text-info">Edit</a>
                    <h5 id="emailProfileDisplay" class="mb-0 mt-3 font-weight-bold">john_doe@blitzbudget.com</h5>
                    <div id="emailEditProf" class="btn-group d-none">
                        <input id="emailModInp" type="email" autocapitalize="off" spellcheck="false" autocorrect="off" class="float-left">
                        <button id="emailEditBtn" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">arrow_forward</i>
                        </button>
                    </div>
                    <a id="emailEdit" class="editProfile text-info">Change</a>
                    <h5 class="mb-0 mt-3 font-weight-bold">**********</h5>
                    <a id="changePasswordProfile" class="editProfile text-info">Change Password</a>
                </div>
                <div class="pl-md-5 pl-sm-0 text-md-left text-center col-md-6 col-sm-12">
                    <h3 class="font-weight-bold mt-sm-3 mt-md-0">Free Account</h3>                    
                    <p class="mild-text">Joined on <span id="userCreationDate">December 2019</span></p>
                    <button class="btn btn-info btn-round btn-lg" disabled>Upgrade To Premium</button>
                </div>                
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-8 ml-auto mr-auto">
                <hr class="my-5">
              </div>
          </div>
          <div class="row">
              <div class="col-8 connectedUser ml-auto mr-auto">
                  <div class="row">
                      <div class="pr-md-5 pr-sm-0 text-md-right text-center col-md-6 col-sm-12">
                          <h3 class="mt-0">Connected Accounts</h3>
                          <button class="btn btn-info btn-round btn-sm">Connect</button>
                      </div>
                      <div class="pl-md-5 pl-sm-0 text-md-left text-center col-md-6 col-sm-12 my-auto">
                          <p class="mild-text mb-0 d-none d-md-block">You can connect with your family members to have a better overview of your finances.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-8 ml-auto mr-auto">
                <hr class="my-5">
              </div>
          </div>
          <div class="row">
              <div class="col-8 resetOrDeleteUser ml-auto mr-auto">
                  <div class="row">
                      <div class="pr-md-5 pr-sm-0 text-md-right text-center col-md-6 col-sm-12">
                          <h3 class="mt-0">Reset account</h3>
                          <p class="mild-text">Your user account will remain, but all the data will be deleted so you can start from a blank slate. Consider exporting all your data.</p>
                          <a id="resetBBAccount" class="resetAccount text-info">Reset my Blitz Budget user account</a>
                      </div>
                      <div class="pl-md-5 pl-sm-0 text-md-left text-center col-md-6 col-sm-12">
                          <h3 class="mt-sm-3 mt-md-0">Delete account</h3>
                          <p class="mild-text">Be careful. This will delete your user account and all the information you entered. We recommend that you export all your data.</p>
                          <a id="deleteBBAccount" class="deleteAccount text-info">Delete my Blitz Budget user account</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-8 ml-auto mr-auto">
                <hr class="my-5">
              </div>
          </div>
          <div class="row">
              <div class="col-8 ml-auto mr-auto">
                <div class="row">
                      <div class="pr-md-5 pr-sm-0 text-md-right text-center col-md-6 d-none d-md-block">
                          <img class="gotQuesImg" src="../img/characters/beon/profile/beon-question.svg">
                      </div>
                      <div class="pl-md-5 pl-sm-0 text-md-left text-center col-md-6 col-sm-12">
                          <h3 class="mb-4 mt-0">Got a question?</h3>
                          <ul class="resetUlStyling">
                              <li class="mb-2"><a href="https://www.blitzbudget.com/feature-request" class="helpProfile text-info" id="sendFeatureRequest">Send a feature request</a></li>
                              <li class="mb-2"><a class="helpProfile text-info askUsDirectly">Ask us directly</a></li>
                              <li class="mb-2"><a class="helpCenter helpProfile text-info" href="#">Help center</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>   
</body>

</html>
