<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>
        Income
    </title>
    <link href="/css/transactions.min.css" rel="stylesheet preload" as="style">
</head>

<body class="income-dashboard">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons noselect">assignment</i>
                            </div>
                            <h5 class="card-title d-inline-block noselect" data-i18n="transactions.page.table.title">Transactions</h5>
                            <div class="float-right d-none d-lg-block">
                                <div id="sortOptionsWrapper" class="dropdown bootstrap-select show-tick mt-2 d-inline-block">
                                    <button type="button" class="btn dropdown-toggle bs-placeholder select-with-transition pr-0 pl-3" data-toggle="dropdown" role="button" title="Choose Sorting Option" aria-expanded="false">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                <div id="sortByBtnTit" class="filter-option-inner-inner text-right mr-4" data-i18n="transactions.page.table.sortby.category">Category</div>
                                            </div>
                                        </div>
                                        <div class="ripple-container"></div>
                                    </button>
                                    <div class="dropdown-menu" role="combobox" x-placement="bottom-start" id="bootstrap-combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show">
                                                <li class="disabled">
                                                    <span role="option" class="dropdown-item disabled" aria-disabled="true" tabindex="-1" aria-selected="false">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.title"> Sort By</span>
                                                    </span>
                                                </li>
                                                <li>
                                                    <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false" id="tagsSortBy">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.tags">Tags</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false" id="accountSortBy">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.account">Account</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false" id="categorySortBy">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.category">Category</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false" id="creationDateSortBy">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.creationdate">Creation Date</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false" id="futureTransactionsSortBy">
                                                        <span class="text" data-i18n="transactions.page.table.sortby.futuretransactions">Future Transactions</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body mb-1">
                            <div class="table-responsive">
                                <div id="transactionsTable" class="table table-fixed d-table mb-0">
                                    <div class="tableHeadingDiv">
                                        <div class="w-15 d-table-cell" title=""></div>
                                        <div class="w-65 d-table-cell" title=""></div>
                                        <div class="text-right d-table-cell" title=""></div>
                                    </div>
                                    <div id="productsJson" class="tableBodyDiv">
                                        <div class="d-table-row">
                                            <div class='d-table-cell'></div>
                                            <div class='d-table-cell'>
                                                <div class="material-spinner mx-auto"></div>
                                            </div>
                                            <div class='d-table-cell'></div>
                                        </div>
                                        <!-- Filled with Javascript dynamically -->
                                    </div>
                                </div>
                                <div id="recTransTable" class="table table-fixed d-table mb-0">
                                    <div class="tableHeadingDiv">
                                        <div class="w-15 d-table-cell" title=""></div>
                                        <div class="w-65 d-table-cell" title=""></div>
                                        <div class="text-right d-table-cell" title=""></div>
                                    </div>
                                    <div id="recentTransactions" class=" tableBodyDiv d-none">
                                        <div class="d-table-row">
                                            <div class='d-table-cell'></div>
                                            <div class='d-table-cell'>
                                                <div class="material-spinner mx-auto"></div>
                                            </div>
                                            <div class='d-table-cell'></div>
                                        </div>
                                        <!-- Recent transactions dynamic load -->
                                    </div>
                                </div>
                                <div id="accSortedTable" class="table table-fixed d-none mb-0">
                                    <div class="tableHeadingDiv">
                                        <div class="w-15 d-table-cell" title=""></div>
                                        <div class="w-65 d-table-cell" title=""></div>
                                        <div class="text-right d-table-cell" title=""></div>
                                    </div>
                                    <div id="accountTable" class="tableBodyDiv d-none">
                                        <div class="d-table-row">
                                            <div class='d-table-cell'></div>
                                            <div class='d-table-cell'>
                                                <div class="material-spinner mx-auto"></div>
                                            </div>
                                            <div class='d-table-cell'></div>
                                        </div>
                                    </div>
                                    <!-- Account Sort dynamic load -->
                                </div>
                                <div id="futureTransactionsTable" class="table table-fixed d-none mb-0 noselect">
                                    <div class="tableHeadingDiv">
                                        <div class="w-15 d-table-cell" title=""></div>
                                        <div class="w-65 d-table-cell" title=""></div>
                                        <div class="text-right d-table-cell" title=""></div>
                                    </div>
                                    <!-- Filled with Javascript dynamically -->
                                </div>
                                <div id="tagsTable" class="table table-fixed d-none mb-0 noselect">
                                    <div class="tableHeadingDiv">
                                        <div class="w-15 d-table-cell"></div>
                                        <div class="w-65 d-table-cell"></div>
                                        <div class="text-right d-table-cell"></div>
                                    </div>
                                    <!-- Filled with Javascript dynamically -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 information-modal">
                    <div class="card transactions-chart noselect">
                        <div class="card-header card-header-icon card-header-danger">
                            <div class="card-icon">
                                <i class="material-icons noselect">pie_chart</i>
                            </div>
                            <h5 class="card-title noselect d-none d-lg-flex" data-i18n="transactions.page.chart.title">Financial Position</h5>
                        </div>
                        <div class="card-body text-center">
                            <div id="chartFinancialPosition" class="ct-chart">
                                <div class="material-spinner"></div>
                            </div>
                            <div>
                                <i class="material-icons noselect text-success legend-spacing">fiber_manual_record</i><span class="align-middle" data-i18n="transactions.page.chart.income">Total Income</span>
                            </div>
                            <h4 id="totalIncomeTransactions" class="font-weight-bold transitionTextToNormal">0.00<span class="currentCurrencySymbol"></span></h4>
                            <hr>
                            <div>
                                <i class="material-icons noselect text-danger legend-spacing">fiber_manual_record</i><span class="align-middle" data-i18n="transactions.page.chart.spent">Total Spent</span>
                            </div>
                            <h4 id="totalExpensesTransactions" class="font-weight-bold transitionTextToNormal">0.00<span class="currentCurrencySymbol"></span></h4>
                            <hr>
                            <div>
                                <i class="material-icons noselect text-orange legend-spacing">fiber_manual_record</i><span id="totalAvailableLabel" class="align-middle" data-i18n="transactions.page.chart.available">Total Available</span>
                            </div>
                            <h4 id="totalAvailableTransactions" class="font-weight-bold transitionTextToNormal">0.00<span class="currentCurrencySymbol"></span></h4>
                        </div>
                        <div id="chartLegend" class="card-footer hiddenAfterHalfASec">
                            <div id="legendPieChart" class="col-md-12 text-center">
                            </div>
                        </div>
                    </div>
                    <div id="accountInformationMdl" class="card d-none noselect">
                        <div class="row">
                            <div id="" class="col-lg-6">
                                <span class=""></span>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="accountHeaderClose" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons noselect float-right">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-header card-header-icon card-header-danger">
                            <div id="accountLabelInModal" class="text-center card-title"></div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div id="goalInfoLabelInModal" class="col-lg-12 text-right headingDiv justify-content-center align-self-center" data-i18n="transactions.page.account.remaining">Remaining (%)</div>
                            </div>
                            <div class="row">
                                <span id="percentageAchieved" class="col-lg-12 text-right">
                                    NA
                                </span>
                            </div>
                            <div class="text-left headingDiv">
                                <div class="progress">
                                    <div id="amountAccumulated" class="progress-bar progress-bar-warning-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Account Balance Goal"></div>
                                </div>
                                <span id="remainingBalance" class="text-warning" data-toggle="tooltip" data-placement="bottom" title="Remaining Account Balance to achieve goal" data-title-i18n="tooltip.remainingaccountbalance">
                                    <span class="currentCurrencySymbol"></span>0.00
                                </span>
                                <span data-i18n="transactions.page.account.remainingtext">Remaining</span>
                            </div>
                            <hr>
                            <div class="row accountAmountDiv">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Account Balance">account_balance</i>
                                </div>
                                <input id="accountAmountEntry" class="text-left col-lg-9 align-middle border-0" contenteditable="true" data-gramm_editor="false">
                            </div>
                        </div>
                        <div id="" class="card-footer row">
                            <div class="pl-0 col-lg-6 text-left">
                                <span id="numberOfTransInAcc"></span> <span data-i18n="transactions.page.account.transaction">Transactions</span>
                            </div>
                            <div class="pr-0 col-lg-6 text-right">
                                <div class="svg-container deleteIconAccountWrapper d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Delete account" data-title-i18n="tooltip.deleteaccount">
                                    <svg id="deleteSvgAccount" class="deleteAccount" height="16" width="16" viewBox="0 0 14 18">
                                        <path fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="square" d="M4.273 3.727V2a1 1 0 0 1 1-1h3.454a1 1 0 0 1 1 1v1.727M13 5.91v10.455a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5.909m6 2.727v5.455M4.273 8.636v5.455m5.454-5.455v5.455M13 3.727H1"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="categoryInformationMdl" class="card d-none noselect">
                        <div class="row">
                            <div id="" class="col-lg-6">
                                <span class=""></span>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="categoryHeaderClose" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons noselect float-right">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-header card-header-icon card-header-danger">
                            <div id="categoryLabelInModal" class="text-center card-title"></div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div id="goalInfoLabelInModal" class="col-lg-12 text-right headingDiv justify-content-center align-self-center" data-i18n="transactions.page.account.remaining">Remaining (%)</div>
                            </div>
                            <div class="row">
                                <span id="percentageAchievedCat" class="col-lg-12 text-right">
                                    NA
                                </span>
                            </div>
                            <div class="text-left headingDiv">
                                <div class="progress">
                                    <div id="amountAccumulatedCat" class="progress-bar progress-bar-success-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Category Balance"></div>
                                </div>
                                <span id="remainingBalanceCat" class="text-success" data-toggle="tooltip" data-placement="bottom" title="Remaining category balance to max the budget" data-title-i18n="tooltip.remainingcategorytomaxbudget">
                                    <span class="currentCurrencySymbol"></span>0.00
                                </span>
                                <span data-i18n="transactions.page.account.remainingtext">Remaining</span>
                            </div>
                            <hr>
                            <div class="row accountAmountDiv">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Category Balance">category</i>
                                </div>
                                <span id="categoryAmountEntry" class="text-left col-lg-9 align-middle" contenteditable="true" data-gramm_editor="false">
                                    <span class="currentCurrencySymbol"></span>0.00
                                </span>
                            </div>
                        </div>
                        <div id="" class="card-footer row">
                            <div class="pl-0 col-lg-6 text-left">
                                <span id="numberOfTransInCat"></span> <span data-i18n="transactions.page.account.transaction">Transactions</span>
                            </div>
                            <div class="pr-0 col-lg-6 text-right">
                                <div class="svg-container deleteIconAccountWrapper d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Delete category" data-title-i18n="tooltip.deletecategory">
                                    <svg id="deleteSvgCategory" class="deleteAccount" height="16" width="16" viewBox="0 0 14 18">
                                        <path fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="square" d="M4.273 3.727V2a1 1 0 0 1 1-1h3.454a1 1 0 0 1 1 1v1.727M13 5.91v10.455a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5.909m6 2.727v5.455M4.273 8.636v5.455m5.454-5.455v5.455M13 3.727H1"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="transactionInformationMdl" class="card d-none noselect">
                        <div class="row">
                            <div id="" class="col-lg-6">
                                <span class=""></span>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="transactionHeaderClose" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons noselect float-right">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-header card-header-icon card-header-danger">
                            <div id="transactionLabelInModal" class="text-center card-title"></div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div id="transactionsInfoLabelInModal" class="col-lg-12 text-right headingDiv justify-content-center align-self-center" data-i18n="transactions.modal.ofcategorytotal">(%) Of Category Total</div>
                            </div>
                            <div class="row">
                                <span id="percentageAchievedTrans" class="col-lg-12 text-right">
                                    NA
                                </span>
                            </div>
                            <div class="text-left headingDiv">
                                <div class="progress">
                                    <div id="amountAccumulatedTrans" class="progress-bar progress-bar-success-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Category Balance"></div>
                                </div>
                                <span id="remainingBalanceTrans" class="text-success" data-toggle="tooltip" data-placement="bottom" title="Remaining transation balance to max the category">
                                    <span class="currentCurrencySymbol"></span>0.00
                                </span>
                                <span data-i18n="transactions.modal.others">Others</span>
                            </div>
                            <hr>
                            <div class="row transactionAmountDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Transaction Balance" data-title-i18n="tooltip.transactionbalance">money</i>
                                </div>
                                <input id="transactionAmountEntry" class="text-left col-lg-9 align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Amount" data-placeholder-i18n="placeholder.noamount">
                            </div>
                            <div class="row transactionCategoryDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Category" data-title-i18n="tooltip.category">category</i>
                                </div>
                                <div id="transactionCategoryEntry" class="text-left col-lg-9 align-middle"> </div>
                            </div>
                            <div class="row transactionDescriptionDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Description" data-title-i18n="tooltip.description">description</i>
                                </div>
                                <input id="transactionDescriptionEntry" class="text-left col-lg-9 align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Description" data-placeholder-i18n="placeholder.nodescription">
                            </div>
                            <div class="row transactionTagsDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Tags" data-title-i18n="tooltip.tags">local_offer</i>
                                </div>
                                <div id="edit-transaction-tags" class="tagsinput success-badge info-badge col-lg-9 text-left">
                                    <span class="bmd-form-group">
                                        <input id="transactionTagsEntry" class="align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Tags" data-placeholder-i18n="placeholder.tags">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="" class="card-footer row">
                            <div class="pl-0 col-lg-6 text-left">
                                <span id="transactionCreationDate"></span>
                            </div>
                            <div class="pr-0 col-lg-6 text-right">
                                <div class="svg-container deleteIconTransactionsWrapper d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Delete transaction" data-title-i18n="tooltip.deletetransaction">
                                    <svg id="deleteSvgTransactions" class="deleteAccount" height="16" width="16" viewBox="0 0 14 18">
                                        <path fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="square" d="M4.273 3.727V2a1 1 0 0 1 1-1h3.454a1 1 0 0 1 1 1v1.727M13 5.91v10.455a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5.909m6 2.727v5.455M4.273 8.636v5.455m5.454-5.455v5.455M13 3.727H1"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="recurringTransactionInformationMdl" class="card d-none noselect">
                        <div class="row">
                            <div id="" class="col-lg-6">
                                <span class=""></span>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" id="recurringTransactionHeaderClose" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons noselect float-right">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="card-header card-header-icon card-header-danger">
                            <div id="recurringTransactionLabelInModal" class="text-center card-title"></div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row recurringTransactionAmountDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Transaction Balance" data-title-i18n="tooltip.transactionbalance">money</i>
                                </div>
                                <input id="recurringTransactionAmountEntry" class="text-left col-lg-9 align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Amount" data-placeholder-i18n="placeholder.noamount">
                            </div>
                            <div class="row recurringTransactionCategoryDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Category" data-title-i18n="tooltip.category">category</i>
                                </div>
                                <div id="recurringTransactionCategoryEntry" class="text-left col-lg-9 align-middle"> </div>
                            </div>
                            <div class="row recurringTransactionDescriptionDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Description" data-title-i18n="tooltip.description">description</i>
                                </div>
                                <input id="recurringTransactionDescriptionEntry" class="text-left col-lg-9 align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Description" data-placeholder-i18n="placeholder.nodescription">
                            </div>
                            <div class="row recurringTransactionTagsDiv py-1">
                                <div class="col-lg-3 d-inline-block h-100">
                                    <i class="material-icons noselect" data-toggle="tooltip" data-placement="bottom" title="Tags" data-title-i18n="tooltip.tags">local_offer</i>
                                </div>
                                <div id="edit-recurring-transaction-tags" class="tagsinput success-badge info-badge col-lg-9 text-left">
                                    <span class="bmd-form-group">
                                        <input id="recurringTransactionTagsEntry" class="align-middle" contenteditable="true" data-gramm_editor="false" placeholder="No Tags" data-placeholder-i18n="placeholder.tags">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="" class="card-footer row">
                            <div class="pl-0 col-lg-6 text-left">
                                <span id="recurringTransactionCreationDate"></span>
                            </div>
                            <div class="pr-0 col-lg-6 text-right">
                                <div class="svg-container deleteIconTransactionsWrapper d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Delete account">
                                    <svg id="deleteSvgRecurringTransactions" class="deleteAccount" height="16" width="16" viewBox="0 0 14 18">
                                        <path fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="square" d="M4.273 3.727V2a1 1 0 0 1 1-1h3.454a1 1 0 0 1 1 1v1.727M13 5.91v10.455a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V5.909m6 2.727v5.455M4.273 8.636v5.455m5.454-5.455v5.455M13 3.727H1"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>


    <!-- Vertically Centered Modal -->
    <div class="modal" id="GSCCModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true" aria-labelledby="GSCCModal">
        <div class="modal-dialog modal-signup" role="document">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <h5 class="modal-title card-title noselect" data-i18n="transactions.modal.title">Choose Your Preference</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons noselect">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 ml-auto d-none d-md-block">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons noselect">account_balance</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title" data-i18n="transactions.modal.connect.title">Connect With Your Bank</h4>
                                        <p class="description" data-i18n="transactions.modal.connect.description">
                                            Connect your bank account to import the transactions for the current month.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="material-icons noselect">sync</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title" data-i18n="transactions.modal.sync.title">Automatic Bank Account Syncs</h4>
                                        <p class="description" data-i18n="transactions.modal.sync.description">
                                            Automatically syncs with the bank account to obtain transactions every start of the month.
                                        </p>
                                    </div>
                                </div>
                                <div class="info info-horizontal">
                                    <div class="icon icon-info">
                                        <i class="material-icons noselect">import_export</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title" data-i18n="transactions.modal.import.title">Import From Bank Statements</h4>
                                        <p class="description" data-i18n="transactions.modal.import.description">
                                            You can also import the transactions from your bank statements
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-add-transactions mr-auto">
                                <div class="social text-center">
                                    <button class="btn btn-just-icon btn-round btn-bank">
                                        <i class="material-icons noselect">account_balance</i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-sync">
                                        <i class="material-icons noselect">sync</i>
                                    </button>
                                    <button class="btn btn-just-icon btn-round btn-import">
                                        <i class="material-icons noselect">import_export</i>
                                    </button>
                                    <h4 data-i18n="transactions.modal.add.classical"> or be classical </h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend" data-toggle="tooltip" title="Amount" data-title-i18n="tooltip.amount">
                                                <div class="input-group-text"><i class="material-icons noselect">money</i></div>
                                            </div>
                                            <input id="amount" name="amount" type="number" class="form-control small-input" required aria-required="true" aria-invalid="true" data-placeholder-i18n="placeholder.amount" placeholder="Amount" />
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend" data-toggle="tooltip" title="Transaction category" data-title-i18n="tooltip.transactioncategory">
                                                <div class="input-group-text"><i class="material-icons noselect">category</i></div>
                                            </div>
                                            <div id="categoryOptions" class="btn-group btnGroup-1">
                                                <div class="w-md-15 w-8" disabled="">Bills & Fees</div>
                                                <div type="button" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </div>
                                                <div class="dropdown-menu">
                                                    <!-- Drop down dynamic load -->
                                                    <div class="input-group">
                                                        <span class="m-1 tripleNineColor"><i class="material-icons noselect">search</i></span>
                                                        <input id="chosenCountryInp" class="form-control w-75 mr-2" type="text" data-placeholder-i18n="placeholder.search" placeholder="Search...">
                                                        <h6 class="dropdown-header" data-i18n="transactions.modal.add.expense">Expense</h6>
                                                        <div id="expenseSelection" class="w-100"></div>
                                                        <div class="dropdown-divider"></div>
                                                        <h6 class="dropdown-header" data-i18n="transactions.modal.add.income">Income</h6>
                                                        <div id="incomeSelection" class="w-100"></div>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-success btn-link btn-round py-0" id="addNewCategory" data-i18n="transactions.modal.add.category">Add Category</button>
                                                </div>
                                            </div>
                                            <div id="newCategorySelection" class="btn-group btnGroup-1 d-none my-auto">
                                                <input id="newCategory" type="text" class="form-control mr-4" data-placeholder-i18n="placeholder.newCategory" placeholder="Add a new category">
                                                <div id="typeSelection" class="btn-group btnGroup-1" data-target="Expense">
                                                    <div class="w-md-15 w-8" disabled="">Expense</div>
                                                    <div type="button" class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </div>
                                                    <div class="dropdown-menu">
                                                        <!-- Drop down dynamic load -->
                                                        <div class="input-group">
                                                            <div class="dropdown-item w-100">Expense<input type="hidden" value="Expense"></div>
                                                            <div class="dropdown-item w-100">Income<input type="hidden" value="Income"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text" data-toggle="tooltip" title="Write a note"><i class="material-icons noselect">description</i></div>
                                            </div>
                                            <input id="description" name="description" type="text" class="form-control" data-placeholder-i18n="placeholder.note" placeholder="Write a note" />
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group onerow">
                                            <div class="input-group-prepend" data-toggle="tooltip" title="Transaction Recurrence">
                                                <div class="input-group-text"><i class="material-icons noselect">repeat</i></div>
                                            </div>
                                            <div id="recurrenceForm" class="text-left" data-gramm_editor="false">
                                                <button class="btn btn-secondary btn-lg register-recurrence mr-2 my-3 active" data-target="NEVER" data-i18n="transactions.modal.add.recurrence.never">Never</button>
                                                <button class="btn btn-secondary btn-lg register-recurrence weeklyR mr-2 my-3" data-target="WEEKLY" data-i18n="transactions.modal.add.recurrence.weekly">Weekly</button>
                                                <button class="btn btn-secondary btn-lg register-recurrence biMonthlyR mr-2 my-3" data-target="BI-MONTHLY" data-i18n="transactions.modal.add.recurrence.bimonthly">Bi-Monthly</button>
                                                <button class="btn btn-secondary btn-lg register-recurrence monthlyR mr-2 my-3" data-target="MONTHLY" data-i18n="transactions.modal.add.recurrence.monthly">Monthly</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group bmd-form-group">
                                        <div class="input-group onerow">
                                            <div class="input-group-prepend" data-toggle="tooltip" title="Tags">
                                                <div class="input-group-text"><i class="material-icons noselect">local_offer</i></div>
                                            </div>
                                            <div id="add-transaction-tags" class="tagsinput success-badge info-badge">
                                                <span class="bmd-form-group">
                                                    <input id="add-transaction-value" type="text" class="border-0" size="1" data-role="tagsinput">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button class="btn btn-success btn-round" id="addNewTransactions" data-i18n="transactions.modal.add.button">Add Transaction</button>
                                </div>
                                <span id="successMessage" class="justify-content-center"></span>
                                <span id="errorMessage" class="justify-content-center"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
