@charset "UTF-8";

#addGoals .picture {
    max-width: 150px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.4rem !important;
}

.goal-title {
    font-weight: 800;
}

.choosable img {
    transition: transform .1s;
}

.choosable:hover h5 {
    color: #ff9800;
    cursor: pointer;
}

.choosable:hover img {
    transform: scale(1.1);
}
