@charset "UTF-8";

#addGoals .picture {
    max-width: 150px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.4rem !important;
}

.goal-title {
    font-weight: 800;
}

.chooseable img {
    transition: transform .1s;
}

.chooseable:hover {
    cursor: pointer;
}

.chooseable:hover h5 {
    color: #ff9800;
}

.chooseable:hover .description {
    color: #797979;
}

.chooseable:hover img {
    transform: scale(1.1);
}

#average-expense-emergency.form-control,
.is-focused #average-expense-emergency.form-control,
#your-monthly-contribution.form-control,
.is-focused #your-monthly-contribution.form-control {
    background-image: linear-gradient(to top, #ff9800 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.noUi-tooltip {
    white-space: nowrap;
    margin-top: 1rem;
}

#data-picker-emergency .dropdown-menu,
#data-picker-month-emergency .dropdown-menu {
    height: 20rem;
    overflow: scroll;
}

#data-picker-emergency .dropdown-menu .dropdown-item:hover,
#data-picker-emergency .dropdown-menu .dropdown-item:focus,
#data-picker-emergency .dropdown-menu a:hover,
#data-picker-emergency .dropdown-menu a:focus,
#data-picker-emergency .dropdown-menu a:active,
#data-picker-month-emergency .dropdown-menu .dropdown-item:hover,
#data-picker-month-emergency .dropdown-menu .dropdown-item:focus,
#data-picker-month-emergency .dropdown-menu a:hover,
#data-picker-month-emergency .dropdown-menu a:focus,
#data-picker-month-emergency .dropdown-menu a:active {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}
