@charset "UTF-8";

.editProfile {
	margin: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    font-size: 0.8rem;
}

#profileImage {
	width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 5;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

#profileImage img, .noImageDisp img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.overviewDateWrapper {
	display: none;
}

.profile-info .text-info.editProfile:hover,.resetOrDeleteUser .text-info.resetAccount:hover,.resetOrDeleteUser .text-info.deleteAccount:hover,.resetUlStyling .text-info.helpProfile:hover,.TFA  .text-info.tfa-info:hover{
	text-decoration: underline;
}

.gotQuesImg {
	height: 15rem;
}

.resetUlStyling {
	list-style: none;
    margin: 0;
    padding: 0;
}

.noImageDisp {
	width: 25rem;
	margin: 0 auto;
}

.helpProfile, .tfa-info, .resetAccount, .deleteAccount {
	cursor: pointer;
}

.tfa-info, .helpProfile, .deleteAccount, .resetAccount {
	font-size: 0.9rem;
}

.connectedUser p {
    font-size: 95%;
}

.oldPassWrapper label, .newPassInput label {
    display: block;
    font-weight: 700;
    padding: .3em 0 .1em;
    width: 100%;
    color: #383e41;
}

#oldPasswordCP, #newPassCP, #oldPasswordRP, #oldPasswordDA, #userNameModInp, #confPasswordUA {
    border: 2px solid #88979d;
    font-size: 1em;
    margin-bottom: .5em;
    padding: .5em;
    width: 80%;
}

#oldPasswordCP:focus, #newPassCP:focus, #oldPasswordRP:focus, #oldPasswordDA:focus, #confPasswordUA:focus {
    border: 2px solid #00bcd4;
}

.changeDpt.btn.btn-info {
    margin-bottom: 0.25rem;
    border: 0.062rem solid #00bcd4;
}

.fs-90 {
    font-size: 90%;
}

#userNameModInp {
    width: 71.5%;
    border: 0.1rem solid #88979d;
}

#userNameModInp:focus {
    border: 0.1rem solid #00bcd4;
}

#userNameEdiBtn {
    border: 0.047rem solid #00bcd4
}
