@charset "UTF-8";

.navBarWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
}

.expandedNavigationBar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    height: 64px;
}

.navigationBar {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 64px;
}

.logoHeader {
    color: inherit;
    padding-left: 24px;
    text-decoration: none;
}

.logoHeader #path14,
.logoHeader #path16,
.logoHeader #path18,
.logoHeader #path20,
.logoHeader #path22,
.logoHeader #path42 {
    fill:#43b2c6;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
}

.logoHeader #path24,
.logoHeader #path26,
.logoHeader #path28,
.logoHeader #path30,
.logoHeader #path32,
.logoHeader #path34,
.logoHeader #path36,
.logoHeader #path38,
.logoHeader #path40 {
    fill:#f1419a;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
}

.expandedNavigationBar {
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 1px 4px 0;
    height: 64px;
}